@media screen and (min-width: 1158px) {
  .container{
    margin: 0 auto;
    width: 1158px;
  }
  .menu-open{
    display: none;
  }
  .header-list{
     display: flex;
  }
  .address{
    display: flex;
  }
  .hero {
    width: 100%;
    padding: 188px 0;
    margin: 0 auto;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/backgrounds/desktop-hero-bg@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.features-item-icon{
  display: flex;
}
.features-item {
    width: 264px;
}
.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
  .subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
.features-list{
  flex-direction: row;
  justify-content: center;
}
.activity{
  display: flex;
}
.team-list{
  gap: 24px;
  flex-wrap: nowrap;
}
.team{
  padding: 120px 0;
}
.team-subtitle{
  text-align: center;
}
.hero-title{
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 48px;
}
  .header{
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-nav {
    display: flex;
    align-items: center;
    gap: 76px;
}
.customers {
    padding: 120px 0;
}
.customers-list{
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: center;
}
.customers-item {
    width: 168px;
    height: 88px;
}
.footer {
  padding: 100px 0;
}
.footer-container{
  display: flex;
  flex-direction:row;
  align-items: start;
}
.tablet-footer-container{
    display: flex;
    gap: 120px;
}
.subscribe-container{
    width: 453px;
    height: 80px;
    align-items: start;
    justify-content: start;
}
.subscribe-form{
    display: flex;
    gap: 24px;
    height: 40px;
    flex-direction: row;
}
.footer-subscribe{
    text-align: left;
}
.social-container{
    align-items: start;
    justify-content: start;
}
.logo-container{
    align-items: start;
    text-align: left;
}
.btn-list {
    margin-bottom: 64px;
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}
.button{
    padding: 12px 24px;
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
}
.portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;  
    gap: 24px;
}
}

