:root{
    --main-color: #2E2F42;
    --normal-color: #4D5AE5;
    --active-color: #404BBF;
    --success-color: #31D0AA;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-mode-color: #F4F4FD;
    --overlay-color: #2E2F42;
    --white-color: #FFFFFF;
    --modal-color: #FCFCFC;
}
body{
    font-family:'Roboto', sans-serif;
    margin: 0;  
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,
h2,
h3,
p{
    margin: 0;
}
button{
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.visually_hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
/* ----------------------------  HEADER ------------------------ */
.header {
    display: flex;
    width: 100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.web {
    font-weight: 800; 
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03;
    color: var(--normal-color);
    font-family:'Raleway', sans-serif;
}
.studio {
    font-weight: 800; 
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03;
    color: var(--overlay-color);
    font-family:'Raleway', sans-serif;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 76px;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-item {
}
.header-link {
    padding: 24px 0;
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color:var(--overlay-color);
}
.header-link:hover,
.header-link:focus{
    color: var(--active-color)
}
.header-link .active {
    color :var(--active-color);
}
.active::after{
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;
    position: absolute;
    left: 0;
    border-radius: 2px;
    background-color: var(--active-color);
}
.address {
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-item {
}
.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color:var(--body-text-color);
    font-style: normal;
}
.address-link:hover,
.address-link:focus{
    color: var(--active-color)
}
/* ----------------------------  HERO SECTION ------------------------ */
.hero {
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/backgrounds/hero-bg.jpg)
}
.hero-title {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02;
    text-align: center;
    color: var(--white-color);
    width: 496px;
}
.hero-button {
    font-family: inherit;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04;
    color: var(--white-color);
    background-color: var(--normal-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus{
    background-color: var(--active-color);
}
/* ----------------------------  FEATURES SECTION ------------------------ */
.features {
    padding: 120px 0;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    width: 264px;
}
.subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02;
    color: var(--main-color);
}
.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color:var(--body-text-color);
}
/* ----------------------------  ACTIVITY SECTION ------------------------ */
.activity {
    padding-bottom: 120px;
}
.title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02;
    color:var(--overlay-color);
    text-align: center;
}
.activity-list {
    display: flex;
    gap: 24px;
}
.activity-item {
}
.activity-img {
}
/* ----------------------------  TEAM SECTION ------------------------ */
.team {
    padding: 120px 0;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    border-radius: 0px 0px 4px 4px;
background: var(--white-color);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-text{
    padding: 32px 0;
    text-align: center;
}
.team-img {
}
.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.social-item {
    width: 40px;
    height: 40px;
}
.social-link {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--light-mode-color);
    background: var(--normal-color);
}
.social-link:hover,
.social-link:focus{
    background-color: var(--success-color);
}
.social-icon {
}

/* ----------------------------  CUSTOMERS SECTION ------------------------ */
.customers {
    padding: 120px 0;
}
.container {
}
.title {
}
.customers-list {
    display: flex;
    gap: 24px;
}
.customers-item {
width: 168px;
height: 88px;
}
.customers-link {
width: 100%;
height: 100%;
border-radius: 4px;
border: 1px solid var(--helper-text-color);
display: flex;
justify-content: center;
align-items: center;
fill: var(--helper-text-color);
}
.customers-link:hover,
.customers-link:focus{
    border-color: var(--active-color);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon{
    fill: var(--active-color);
}
.customers-icon {
}
/* ----------------------------  FOOTER ------------------------ */
.footer {
    background-color: var(--overlay-color);
    padding: 100px 0;
}
.footer-container{
    display: flex;
}
.studio-footer {
    font-weight: 800; 
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03;
    color: var(--light-mode-color);
    font-family:'Raleway', sans-serif;
}
.footer-descr {
    margin-top: 18px;
    width: 264px;
    font-weight: 400; 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color: var(--light-mode-color);
}
.social-container {
    margin-left: 120px;
}
.social-text {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.social-media-list {
    display: flex;
    gap: 16px;
}
.social-media-item {
    width: 40px;
    height: 40px;
}
.social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--normal-color);
    fill: var(--white-color);
}
.social-media-link:hover,
.social-media-link:focus{
    background-color: var(--success-color);
}

/* ----------------------------  PORTFOLIO ------------------------ */
.portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
}
.btn-list {
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.btn-item {
}
.button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    background: var(--light-mode-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--normal-color);
    font-family:'Roboto', sans-serif;
}
.button:hover,
.button:focus{
    background-color: var(--active-color);
    color: var(--white-color);
}
.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.portfolio-item {
   text-align: left;
   cursor: pointer;
}
.portfolio-item:hover,
.portfolio-item:focus{
    border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.photo-wrapper{
    position: relative;
    overflow: hidden;
}
.text-container{
     padding: 32px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 40px 32px;
    background-color: var(--normal-color);
    color: var(--light-mode-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(0, 100%);
}
.portfolio-link:focus .overlay,
.portfolio-link:hover .overlay{
    transform: translate(0, 0);
}

.subscribe-container {
    margin-left: 80px;
}
.footer-subscribe {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.subscribe-form {
    display: flex;
    gap: 16px;
}
.email {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 264px;
    height: 40px;
    padding: 8px 0 8px 16px;
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--main-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

}
.email::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--white-color);
}
.subscribe-button {
    display: flex;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    background-color: var(--normal-color);
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--white-color);
    fill: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.subscribe-svg {
}
/* ----------------------------  Modal ------------------------ */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 584px;
    transform: scale(1) translate(-50%, -50%);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--modal-color);
    border-radius: 4px;
    padding: 72px 24px 24px;
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: var(--active-color);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon{
    fill: var(--white-color);
}
.modal-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--main-color);
    text-align: center;
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-field {
}
.modal-form-input-desc {
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: var(--helper-text-color);
}
.modal-form-input-wrapper {
    display: block;
    position: relative;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid #21212133;
    border-radius: 4px;
}
.modal-form-input-icon {
}
.modal-form-message {
}
.visualy_hidden {
}
.modal-form-check {
}
.modal-form-check-desc {
}
.modal-privacy {
}
.modal-form-submit {
}