:root{
    --main-color: #2E2F42;
    --normal-color: #4D5AE5;
    --active-color: #404BBF;
    --success-color: #31D0AA;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-mode-color: #F4F4FD;
    --overlay-color: #2E2F42;
    --white-color: #FFFFFF;
    --modal-color: #FCFCFC;
}
body{
    font-family:'Roboto', sans-serif;
    margin: 0;  
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,
h2,
h3,
p{
    margin: 0;
}
button{
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    display: flex;
    padding: 24px 0;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.web {
    font-weight: 800; 
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03;
    color: var(--normal-color);
    font-family:'Raleway', sans-serif;
}
.studio {
    font-weight: 800; 
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03;
    color: var(--overlay-color);
    font-family:'Raleway', sans-serif;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 76px;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-item {
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color:var(--overlay-color);
}
.address {
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-item {
}
.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color:var(--body-text-color);
    font-style: normal;
}
.hero {
    background-color: var(--main-color);
    padding: 188px 0;
}
.hero-title {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02;
    text-align: center;
    color: var(--white-color);
    width: 496px;
}
.hero-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04;
    color: var(--white-color);
    background-color: var(--normal-color);
}
.features {
    padding: 120px 0;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    width: 264px;
}
.subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02;
    color: var(--main-color);
}
.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color:var(--body-text-color);
}
.activity {
    padding-bottom: 120px;
}
.title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02;
    color:var(--overlay-color);
    text-align: center;
}
.activity-list {
    display: flex;
    gap: 24px;
}
.activity-item {
}
.activity-img {
}
.team {
    padding: 120px 0;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
}
.team-text{
    padding: 32px 0;
    text-align: center;
}
.team-img {
}
.footer {
    background-color: var(--overlay-color);
    padding: 100px 0;
}
.studio-footer {
    font-weight: 800; 
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03;
    color: var(--light-mode-color);
    font-family:'Raleway', sans-serif;
}
.footer-descr {
    margin-top: 18px;
    width: 264px;
    font-weight: 400; 
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    color: var(--light-mode-color);
}
.portfolio {
}
.btn-list {
    display: flex;
    gap: 24px;
    cursor: pointer;
}
.btn-item {
}
.button {
}
.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;}
.portfolio-item {
    padding: 32px 0;
    text-align: left;
}
.portfolio-img {
}
.subtitle {
    margin-top: 32px;
    margin-bottom: 16px;
}
.descr {
}